{% extends 'base.html' %}

{% block title %}Confirm Extracted Text{% endblock %}

{% block extra_styles %}
<style>
    textarea {
        resize: none; /* Prevent resizing */
        width: 100%;
        height: 300px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        margin-bottom: 20px;
    }
</style>
{% endblock %}

{% block content %}
<h1>Confirm Extracted Text</h1>
<form method="post" action="{% url 'process_text' %}">
    {% csrf_token %}
    <textarea name="extracted_text">{{ extracted_text }}</textarea>
    <input type="hidden" name="pdf_id" value="{{ pdf_id }}">
    <button type="submit">Send to database</button>
</form>
{% endblock %}