{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Welcome to the PDF Menu Processor!</h1>
{% if db_connection_success %}
<div class="db-connection-success">
    Successfully connected to the database.
</div>
{% endif %}
<p>Use the links below to upload a PDF or input JSON data and extract its content.</p>
<div class="upload-link">
    <a href="{% url 'upload_pdf' %}">Upload PDF</a>
</div>
<div class="upload-link">
    <a href="{% url 'upload_json' %}">Upload JSON</a>
</div>
<div class="upload-link">
    <a href="{% url 'restaurant_list' %}">View Restaurants</a>
</div>
{% endblock %}