{% extends 'base.html' %}

{% block title %}Restaurant List{% endblock %}

{% block content %}

<div class="restaurant-list">
    <h1>Restaurants</h1>
    <div class="suggestion-boxes">
        {% for restaurant in restaurants %}
        <div class="suggestion-box">
            <h3>{{ restaurant.name }}</h3>
            <p>{{ restaurant.address }}</p>
            <a href="{% url 'restaurant_detail' restaurant.id %}">View Menu</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}